[project]
	description = New Coder tutorials
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dhriti Shekhar Shikhar (DhritiShikhar)
[access "refs/for/refs/*"]
	read = group user/Dhriti Shekhar Shikhar (DhritiShikhar)
	push = group user/Dhriti Shekhar Shikhar (DhritiShikhar)
	label-Code-Review = -2..+2 group user/Dhriti Shekhar Shikhar (DhritiShikhar)
	label-Verified = -1..+1 group user/Dhriti Shekhar Shikhar (DhritiShikhar)
	rebase = group user/Dhriti Shekhar Shikhar (DhritiShikhar)
	removeReviewer = group user/Dhriti Shekhar Shikhar (DhritiShikhar)
	submit = group user/Dhriti Shekhar Shikhar (DhritiShikhar)
[access "refs/heads/*"]
	read = group user/Dhriti Shekhar Shikhar (DhritiShikhar)
	create = group user/Dhriti Shekhar Shikhar (DhritiShikhar)
	push = +force group user/Dhriti Shekhar Shikhar (DhritiShikhar)
	pushMerge = group user/Dhriti Shekhar Shikhar (DhritiShikhar)
[access "refs/tags/*"]
	push = +force group user/Dhriti Shekhar Shikhar (DhritiShikhar)
	pushTag = group user/Dhriti Shekhar Shikhar (DhritiShikhar)
	pushSignedTag = group user/Dhriti Shekhar Shikhar (DhritiShikhar)
